#alternateheader
	= image_tag "critheadlogo.png", id: "altlogotop"
	#alt-searchbar
		#alt-searchform
			= simple_form_for Search.new, action:"/" do |f|
				= f.input :query, label: false, placeholder: "Query", input_html: {class:"topsearch"}
				%p#near near
				= f.input :user_location, label: false, placeholder: "UserLocation", input_html: {class:"topsearch"}
			.mainsearchbtn
				= image_tag "searchicon.png", id:"topsearchicon"         
		#alt-navlinks
			%ul
				%li
					= link_to( image_tag("field-logo.png"), "#" )
				%li
					= link_to( image_tag("news-icon.png"), "#" )
				%li
					= link_to( image_tag("critiques-icon.png"), "#" )
				%li
					= link_to( image_tag("members-icon.png"), "#" )
				%li
					= link_to( image_tag("forum-icon.png"), "#" )
				%li
					= link_to( image_tag("saver-icon.png"), "#" )